{% extends "rest_framework/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}

            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                <meta name="robots" content="NONE,NOARCHIVE" />
            {% endblock %}

            <title>{% block title %}HOT Export API{% endblock %}</title>

            {% block style %}
                {% block bootstrap_theme %}
                    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
                    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
                {% endblock %}
                <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
                <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
                <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
            {% endblock %}

        {% endblock %}
    </head>

    {% block body %}
    <body class="{% block bodyclass %}{% endblock %}">

        <div class="wrapper">

            {% block navbar %}
                <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                    <div class="container">
                        <span>
                            {% block branding %}
                                <a class='navbar-brand' rel="nofollow" href="#">
                                    HOT Export API Demo
                                </a>
                            {% endblock %}
                        </span>
                        
                        <ul class="nav navbar-nav">
                          <li><a href="api">Browse API</a></li>
                          <li><a href="/media/BrianOHare-HOT-Export-Proposal.pdf" target="_blank">Export Tool Proposal</a></li>
                          <li><a href="https://github.com/bjohare/hot-export-demo" target="_blank">GitHub</a></li>
                        </ul>
                        
                        <ul class="nav navbar-nav pull-right">
                            {% block userlinks %}
                                {% if user.is_authenticated %}
                                    {% optional_logout request user %}
                                {% else %}
                                    {% optional_login request %}
                                {% endif %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            {% endblock %}

            <div class="container">
            <!-- Content -->
            <div id="content">
                <div class="content-main">
                    <br/>
                    <div class="page-header">
                        <h1>HOT Export Tool Demo Implementation</h1>
                    </div>
                    <br/>
                    <div>
                        <p>
                        This demo makes use of the <a href="http://www.celeryproject.org/" target="_blank">Celery Distributed Task Queue</a> to run dummy HOT Export <a href="/api/jobs">Jobs</a>.
                        Jobs can be configured to export to a number of <a href="/api/formats">ExportFormat</a>'s.
                        On creation, Jobs are sent directly to the queue for processing.
                        Once the task completes the job status is updated.
                        This implementation is intended to demonstrate how the issue of queueing <a href="/api/formats/1">OBF ExportFormat</a> jobs in particular could be managed.
                        Use the html form at <a href="/api/jobs">/api/jobs</a> to create a new demo job. Follow the <strong>url</strong> link in the newly created job to see its status update (after 20s).
                        </p>
                        <p>
                        As outlined in my <a href="/media/BrianOHare-HOT-Export-Proposal.pdf">proposal</a>, the generation of OSMAnd <strong>.obf</strong>
                        files is a memory intensive process. The current implementation which uses the database as a queue offers no control over the number of concurrent export jobs.
                        It simply polls the database every five seconds looking for new jobs and starts a export process regardless of whether the resources are available.                     
                        The use of an asynchronous message queue provides a reliable, scalable solution to this problem.
                        </p>
                    </div>
                    <br/>
                    <table width="100%">
                    <tr>
                    <td style="vertical-align: top; padding-right: 5em;">
                    <div>
                        Some of the benefits of <a href="http://bit.ly/1JYQGFc" target="_blank">Asynchronous Message Queues</a> include:
                        <br/><br/>
                        <ol>
                            <li>Scalability:
                                <ul>
                                    <li>Jobs can be distributed among multiple processing servers (see diagram).</li>
                                    <li>Its easy to add additional processors.</li>
                                </ul>
                            </li>
                            <li>Flexibility:
                                <ul>
                                    <li>Multiple queues can process different tasks, e.g. OBF or Default Export Jobs (see diagram)</li>
                                    <li>Tasks can be confgured to run concurrently or sequentially.</li>
                                    <li>Tasks can be prioritized.</li>
                                    <li>Configurable workflow using sub-tasks.</li>
                                </ul>
                            </li>
                            <li>Performance / Reliability:
                                <ul>
                                    <li>Eliminates the need to poll the database and avoids deadlocks and race conditions.</li>
                                    <li>Message queue lives in memory which avoids the disk I/O involved in polling the database.</li>
                                    <li>Tasks are committed to disk on system failure and resumed at reboot.</li>
                                    <li>Tasks run instantly rather than being delayed by a database polling interval.</li>
                                    <li>Tasks can be retried if they fail.</li>
                                </ul>
                            </li>
                            <li>Visibility:
                                <ul>
                                    <li>Task <a href="http://hotmon.geoweb.io" target="_blank">monitoring tools</a> can provide greater insight into task and queue performance.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                    </td>
                    <td>
                    <div style="float: right;"><img src="/media/mq.png"/></div>
                    </td>
                    </tr>
                    </table>
                </div>

            
            </div>
            <!-- END Content -->
            </div><!-- /.container -->
        </div><!-- ./wrapper -->

        {% block script %}
            <script src="{% static "rest_framework/js/jquery-1.8.1-min.js" %}"></script>
            <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
            <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
            <script src="{% static "rest_framework/js/default.js" %}"></script>
        {% endblock %}
    </body>
    {% endblock %}
</html>